@font-face {
  font-family: "Empire";
  src: url("../assets/Font/empire_4/Empire.ttf");
}
@font-face {
  font-family: "Awelier";
  src: url("../assets/Font/made_awelier/MADEAwelierPERSONALUSE-Regular.otf");
}

$font-title: "Empire";
$font-text: "Awelier";
$border-color: #ffd700;
$font-color-title: #faebd7;
$font-color-text: #fffafa;

body {
  border-top: 10px groove;
  border-right: 10px ridge;
  border-bottom: 10px ridge;
  border-left: 10px groove;
  border-color: $border-color;
  box-sizing: border-box;
  background: #3a3e40;
}

h1,
h2,
h3,
h4 {
  font-family: $font-title;
  color: $font-color-title;
}

p,
li {
  font-family: $font-text;
  color: $font-color-text;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoasd {
  width: 300px;
  background: none;
}

.header-title {
  font-size: 3em;
  text-shadow: 1px 0px 1px, 0px 1px 1px black, 2px 1px 1px black,
    1px 2px 1px black, 3px 2px 1px black, 2px 3px 1px black, 4px 3px 1px black,
    3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px #ffd700,
    5px 6px 1px #ffd700, 7px 6px 1px #ffd700;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 10px;
  font-size: 1.5em;
}

.nav-list li {
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: #faebd7;
  font-weight: bolder;
  box-shadow: inset -1px 3px 8px 5px gold, 2px 1px 10px 0px black,
    5px 5px 15px 5px black;
}

.nav-list li:hover {
  background: $font-color-title;
  color: black;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.profil {
  width: 600px;
  margin-left: 50px;
  border-radius: 20px;
  box-shadow: inset -1px 3px 8px 5px gold, 2px 5px 10px 0px #faebd7,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.description-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 43%;
  margin-left: 80px;
}

.description-container::before,
.description-container::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border: 2px solid goldenrod;
}

.description-container::before {
  top: 0;
  left: 0;
  border-width: 2px 0px 0px 2px;
}

.description-container::after {
  bottom: 0;
  right: 0;
  border-width: 0px 2px 2px 0px;
}

.description-container h2 {
  margin-bottom: 0;
  font-size: 1.5em;
  text-shadow: 1px 0px 1px, 0px 1px 1px black, 2px 1px 1px black,
    1px 2px 1px black, 3px 2px 1px black, 2px 3px 1px black, 4px 3px 1px black,
    3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px #ffd700,
    5px 6px 1px #ffd700, 7px 6px 1px #ffd700;
}

.description-container h3 {
  text-shadow: 1px 0px 1px, 0px 1px 1px black, 2px 1px 1px black,
    1px 2px 1px black, 3px 2px 1px black, 2px 3px 1px black, 4px 3px 1px black,
    3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px #ffd700,
    5px 6px 1px #ffd700, 7px 6px 1px #ffd700;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.5em;
}

.description-container h4 {
  margin-top: 0;
  font-size: 1.5em;
}

.description-container p {
  margin-top: 0;
  font-size: 1.25em;
}

.skills-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.skills-container h2 {
  font-size: 2rem;
  text-shadow: 1px 0px 1px, 0px 1px 1px black, 2px 1px 1px black,
    1px 2px 1px black, 3px 2px 1px black, 2px 3px 1px black, 4px 3px 1px black,
    3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px #ffd700,
    5px 6px 1px #ffd700, 7px 6px 1px #ffd700;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skills-container ul {
  margin-right: 30px;
  margin-left: 30px;
  padding: 25px;
  box-shadow: inset 1px 1px 5px 5px gold, 2px 5px 10px 0px black,
    5px 5px 15px 5px black;
  background: #faebd7;
  border-radius: 20px;
}

.skills-container li {
  list-style: none;
}

.footer-container {
  text-align: center;
}
.footer-container p {
  text-shadow: 1px 0px 1px, 0px 1px 1px black, 2px 1px 1px black,
    1px 2px 1px black, 3px 2px 1px black, 2px 3px 1px black, 4px 3px 1px black,
    3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px #ffd700,
    5px 6px 1px #ffd700, 7px 6px 1px #ffd700;
}

// ProjectCard

.projectcard-container {
  width: 100%;
  overflow: hidden;
  margin: 10px auto;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 1s ease;
}

.project {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  height: 90%;
  box-shadow: inset 1px 1px 5px 5px gold, 2px 5px 10px 0px black,
    5px 5px 15px 5px black;
  background: #faebd7;
  border-radius: 20px;
}

.img-project {
  width: 60%;
  border-radius: 20px;
  box-shadow: inset 1px 1px 5px 5px gold, 2px 5px 10px 0px black,
    5px 5px 15px 5px black;
}

.project h4 {
  font-size: 2rem;
  text-shadow: 1px 0px 1px black, 0px 1px 1px black, 2px 1px 1px black,
    1px 2px 1px black, 3px 2px 1px black, 2px 3px 1px black, 4px 3px 1px black,
    3px 4px 1px black, 5px 4px 1px black, 6px 5px 1px #ffd700,
    5px 6px 1px #ffd700, 7px 6px 1px #ffd700;
}

.project p {
  color: black;
  padding: 2em;
  font-size: 1.25em;
}

.project li {
  list-style: none;
  padding: 10px;
}

.project-link {
  text-decoration: none;
  color: inherit;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  font-weight: bolder;
  box-shadow: inset -1px 3px 8px 5px gold, 2px 1px 10px 0px black,
    5px 5px 15px 5px black;
}

.project-link:hover {
  color: black;
  background: white;
}

.carousel-control {
  position: absolute;
  top: 50%;
  background: transparent;
  border: none;

  cursor: pointer;

  z-index: 1;
}

.next {
  left: -10px;
}
.next img {
  width: 50px;
}

.prev {
  right: -10px;
}
.prev img {
  width: 50px;
}

@keyframes slide-in-next {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-prev {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.carousel-inner.next {
  animation: slide-in-next 1s ease;
}

.carousel-inner.prev {
  animation: slide-in-prev 1s ease;
}

//contact
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset -1px 3px 8px 5px gold, 2px 1px 10px 0px black,
    5px 5px 15px 5px black;
  width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: #faebd7;
}

.info-container li {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px;
  color: #363d3d;
}

.imginfo {
  width: 50px;
  margin-right: 20px;
}

.info-container a {
  text-decoration: none;
  color: inherit;
}

.info-container a:hover {
  color: #ffd700;
}

@media only screen and (max-width: 750px) {
  .content {
    flex-direction: column;
  }

  .profil,
  .description-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .description-container h2 {
    font-size: 1.2em;
  }

  .description-container h3 {
    font-size: 1.2em;
  }

  .description-container h4 {
    font-size: 1.2em;
  }

  .description-container p {
    font-size: 1em;
  }

  .skills-container h2 {
    font-size: 1.5rem;
  }

  .logo {
    width: 95%;
  }

  .project h4 {
    font-size: 1.5rem;
  }

  .project p {
    font-size: 1rem;
  }
  .img-project {
    width: 70%;
  }
  .project-link {
    font-size: 1rem;
  }

  .info-container {
    width: 90%;
  }
}
